flask
Flask-Login
Flask-Mail>=0.9.1
Flask-WTF>=1.2.1
Flask-Limiter
Flask-Talisman
Flask-SocketIO
Flask-SQLAlchemy>=3.1.0
requests
requests-oauthlib>=1.3.1
python-dotenv
itsdangerous>=2.1.2
email_validator>=2.1.0
passlib[argon2]
pyotp
qrcode
pillow
feedparser
scikit-learn>=1.3.0
pandas>=2.0.3
numpy>=1.24.4
vaderSentiment
joblib>=1.3.1
prophet
ultralytics
textblob
snscrape
WTForms
pytrends
google-cloud-language
wordcloud
tweepy
snownlp
jieba
line-bot-sdk>=2.5.0
google-generativeai
yfinance>=0.2.38
openai
cryptography
plotly
SQLAlchemy
opencv-python
